*{
    box-sizing: border-box;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}
.container{
    width: 100%;
    height: 180vh;
    display: flex;
    flex-direction: column; 
    align-items: center;
    background-color: rgb(127, 191, 233);
}
.box{
    width: 80%;
    height: 100%;
   
    display: flex;
    justify-content: center;
    padding: 50px;
    gap: 80px;
}
.box-1{
width: 30%;
height: 100%;
}
.images{
    width: 350px;
    height: 450px;

}
.box-2{
    width: 70%;
    height: 43%;
}

h1{
width: 30px;
margin-left: 40px;
line-height: 40px;
}
.tajribasi{
margin-top: 40px;
margin-left: 40px;
}
.info-box{
    width: 500px;
    margin-top: 40px;
    margin-left: 40px;
}
.days{
    width: 500px;
    height: 400px;
    background-color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 50px;
}

.bookApoint{
    padding: 15px 15px;
    border-radius: 30px;
    border: none;
    background-color: rgb(73, 130, 228);
    font-size: 22px;
    font-weight: 500;
    color: white;
}


button{
    padding: 35px 8px;
    border-radius: 14px;
    margin-left: 15px;
    border: 2px solid rgb(73, 130, 228) ;
    color: rgb(73, 130, 228) ;
    background-color: white;
}

.active{
    background-color:rgb(73, 130, 228) ;
    color: white;
}